[submodule "thirdparty/imgui"]
    path = thirdparty/imgui
    url = https://github.com/ocornut/imgui.git
    branch = master

[submodule "thirdparty/nfd"]
    path = thirdparty/nfd
    url = https://github.com/btzy/nativefiledialog-extended.git
    branch = master

[submodule "thirdparty/googletest"]
    path = thirdparty/googletest
    url = https://github.com/google/googletest.git
    branch = main

[submodule "thirdparty/JoltPhysics"]
    path = thirdparty/JoltPhysics
    url = https://github.com/jrouwe/JoltPhysics.git
    branch = master

[submodule "thirdparty/entt"]
    path = thirdparty/entt
    url = https://github.com/skypjack/entt.git
    branch = master

[submodule "thirdparty/yaml-cpp"]
    path = thirdparty/yaml-cpp
    url = https://github.com/jbeder/yaml-cpp.git

[submodule "thirdparty/imguizmo"]
    path = thirdparty/imguizmo
    url = https://github.com/CedricGuillemet/ImGuizmo.git

[submodule "thirdparty/glm"]
    path = thirdparty/glm
    url = https://github.com/g-truc/glm.git

[submodule "thirdparty/assimp"]
    path = thirdparty/assimp
    url = https://github.com/assimp/assimp.git

[submodule "thirdparty/coral"]
    path = thirdparty/coral
    url = https://github.com/StudioCherno/Coral.git

[submodule "thirdparty/miniaudio"]
    path = thirdparty/miniaudio
    url = https://github.com/mackron/miniaudio.git

[submodule "thirdparty/stb"]
    path = thirdparty/stb
    url = https://github.com/nothings/stb.git

[submodule "thirdparty/glad"]
    path = thirdparty/glad
    url = https://github.com/Dav1dde/glad.git
    branch = glad2

[submodule "thirdparty/glfw"]
    path = thirdparty/glfw
    url = https://github.com/glfw/glfw.git

[submodule "thirdparty/cereal"]
    path = thirdparty/cereal
    url = https://github.com/USCiLab/cereal.git

[submodule "thirdparty/zstd"]
    path = thirdparty/zstd
    url = https://github.com/facebook/zstd.git

[submodule "thirdparty/spdlog"]
    path = thirdparty/spdlog
    url = https://github.com/gabime/spdlog.git

[submodule "thirdparty/reflect-cpp"]
    path = thirdparty/reflect-cpp
    url = https://github.com/getml/reflect-cpp.git

[submodule "thirdparty/portable-file-dialogs"]
    path = thirdparty/portable-file-dialogs
    url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "cmake/external/thirdparty/portable-file-dialogs"]
	path = cmake/external/thirdparty/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
    
[submodule "thirdparty/pack"]
	path = thirdparty/pack
	url = https://github.com/cfnptr/pack.git

[submodule "thirdparty/miniupnp"]
	path = thirdparty/miniupnp
	url = https://github.com/miniupnp/miniupnp.git

[submodule "thirdparty/enet"]
	path = thirdparty/enet
	url = https://github.com/zpl-c/enet.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "thirdparty/freetype-gl"]
	path = thirdparty/freetype-gl
	url = https://github.com/rougier/freetype-gl.git
[submodule "thirdparty/basis_universal"]
	path = thirdparty/basis_universal
	url = https://github.com/BinomialLLC/basis_universal.git
[submodule "thirdparty/libjuice"]
	path = thirdparty/libjuice
	url = https://github.com/paullouisageneau/libjuice.git
